@model IEnumerable<Humraaah.Models.Booking>

@{
    ViewBag.Title = "Bookings";
}

<h2>Your Bookings</h2>

@Ajax.ActionLink("All Bookings", // <-- Text to display
                 "GetAll", // <-- Action Method Name
                 "Bookings",
                 new AjaxOptions
                 {
                     UpdateTargetId= "BookingsList", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 })

|

@Ajax.ActionLink("Current Bookings", // <-- Text to display
                 "Current", // <-- Action Method Name
                 "Bookings",
                 new AjaxOptions
                 {
                     UpdateTargetId= "BookingsList", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 })




<div id="BookingsList">



    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ambulance.Driver.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Ambulance.Driver.Phone)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Ambulance.Color)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Ambulance.Plate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CurrentlyActive)
            </th>

            <th></th>
        </tr>

        <tbody id="bksList">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ambulance.Driver.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ambulance.Driver.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ambulance.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ambulance.Plate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentlyActive)
                    </td>

                    <td>
                        @if (item.CurrentlyActive == true)
                        {
                            @Html.ActionLink("End Booking", "Edit", new { id = item.idBooking }, new { @class = "btn btn primary" })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
}