@model IEnumerable<Humraaah.Models.Ambulance>

@{
    ViewBag.Title = "Ambulances";
}


<h2> Available Ambulances </h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.aType.vehicleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Station.Organization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Station.Address.Locality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aType.capacity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tbody id="ambulanceList">
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.aType.vehicleType)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Station.Organization)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Station.Address.Locality)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.aType.capacity)
                </td>



                @if (User.Identity.IsAuthenticated)
                {
                    if (ViewBag.Role == 1)
                    {
                        <td>
                            @Html.ActionLink("Book", "AmbulanceDetails", "Search", new { id = item.id }, new { @class = "btn btn-primary", @style = "color:Black" })
                        </td>
                    }
                }

            </tr>
        </tbody>

    }
</table>

@if (User.Identity.IsAuthenticated)
{
    if (ViewBag.Role == 1)
    {

        using (Html.BeginForm("", "Search", FormMethod.Get))
        {
            <div class="form-group">

                <div class="col-md-10">
                    Locality:    @Html.DropDownList("locality", (IEnumerable<SelectListItem>)ViewBag.locality, "", new { id = "locality" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    Sort results by distance:    @Html.DropDownList("Distance", (IEnumerable<SelectListItem>)ViewBag.Distance, "", new { id = "Distance" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    Organization:    @Html.DropDownList("Organization", (IEnumerable<SelectListItem>)ViewBag.Organization, "", new { id = "Organization" })
                </div>
            </div>

            <input type="submit" id="filter" value="Filter" />
        }
    }
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function () {
        $("#filter").click(function () {
            var Organization = $("#Organization").val();
            var locality = $("#locality").val();
            var Distance = $("#Distance").val();
            var SetData = $("#ambulanceList");
            SetData.html("");
            $.ajax({
                type: "post",
                url: "/Search/GetSearchingData?locality=" + locality + "&Distance=" + Distance + "&Organization=" + Organization,
                contentType: "html",
                success: function (result) {
                    if (result.length == 0) {
                        SetData.append('<tr style="color:red"><td colspan="3">No Match Data</td></tr>')
                    }
                    else {
                        $.each(result, function (index, value) {
                            var Data = "<tr>" +
                                "<td>" + value.aType.vehicleType + "</td>" +
                                "<td>" + value.Station.Organization + "</td>" +
                                "<td>" + value.Station.Address.Locality + "</td>" +
                                "<td>" + value.aType.capacity + "</td>" + "</tr>";
                            SetData.append(Data);
                        });
                    }
                }
                error: function () {
                    alert("error");
                }
            });
        });
    });
</script>



