@model Humraah.DAL.Ambulance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ambulance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.aType.vehicleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aType.vehicleType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Driver.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Station.Organization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Station.Organization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Available)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Available)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
